/* Add CSS Styling */
.odd {
    background-color: rgb(242, 148, 198);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.adjust-font-size{
    font-size: 24px;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(143, 244, 210);
    font-size: 24px;
    font-weight: bold;
}